.panelheadertext, .bctext {
    font-weight: bold;
}
.panelhdr {
    color: #31708f !important;
    background-color: #aad3eb !important;
}
.submitbtn {
    margin-top: 25px;
    margin-bottom: 17px;
}
.mg-30 {
    margin-bottom: 30px;
}
.no-resize {
    resize: none;
}

.mt-45{
margin-top: 45px;
}
.mg-30 {
    margin-bottom: 30px;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.panel.panel-default.mt-45 {
    max-width: 482px;
    margin: 45px auto;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 30px !important;
}
img.img-responsive {
    height: 430px;
    top: 9rem;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    left: 10rem;
}
.right-side{
    /* background: #fbfbfb; */
    padding-right: 0px;
} 
h3.panel-title.panelheadertext {
    color: #31708f !important;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
} 
@media(max-width:768px) {
    img.img-responsive {
        display: none;
    }
    .right-side {
        padding-right: 15px !important;
    }
}