<app-inavbar></app-inavbar>>

<!-- @*Breadcrumbs section*@ 
<section class="mar-t-50">
    <div class="row">
        <ol class="breadcrumb">
            <li><a routerLink='register' class="bctext"><i class="fa fa-plus-square" aria-hidden="true"></i> Patient Reg</a></li>
        </ol>
    </div>
</section> -->

<!-- @*Doctor Form*@ -->
<section>
    <div class="row mg-30">
        <div class="col-md-12">
        <div class="panel panel-default mt-45">
            <div class="panel-heading panelhdr">
                <h3 class="panel-title panelheadertext"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Patient Registration Form</h3>
            </div>
            <div class="panel-body">
                <form name="form" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" autocomplete="on">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Username">User Name</label>
                            <input type="text" #Name="ngModel" [(ngModel)]="serviceService.selectedPatient.Name" class="form-control" required pattern="^[a-zA-Z ]*$"
                            id="Username" placeholder="Enter Username" name="Name">
                            <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="validation-error">
                            <span *ngIf="Name.errors?.required" class="validation-error">
                                Name is required.
                            </span>
                            <span  *ngIf="Name.errors?.pattern" class="validation-error">
                                Name must be of only letters and spaces.
                            </span>
                          </div>  
                        </div>

                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" #Password="ngModel" [(ngModel)]="serviceService.selectedPatient.Password" name="Password" class="form-control" id="Password" placeholder="Enter Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="validation-error">
                            <span *ngIf="Password.errors?.required" class="validation-error">
                                Password is required.
                            </span>
                            <span  *ngIf="Password.errors?.pattern" class="validation-error">
                                Password must contain minimum eight characters, at least one letter, one number and one special character.
                            </span>
                          </div>  
                        </div>

                        <div class="form-group">
                            <label for="Confirm">Confirm Password</label>
                            <input type="password" #ConfirmPassword="ngModel" [(ngModel)]="serviceService.selectedPatient.ConfirmPassword" name="ConfirmPassword" class="form-control" id="Confirm" placeholder="Re-Enter password" required pattern="{{ Password.value }}">
                            <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)" class="validation-error">
                                <span *ngIf="ConfirmPassword.errors?.required" class="validation-error">
                                    Password is required.
                                </span>
                                <span  *ngIf="ConfirmPassword.errors?.pattern" class="validation-error">
                                    Passwords do not match.
                                </span>
                                </div>  
                                </div>
                        

                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="tel" #Phone="ngModel" [(ngModel)]="serviceService.selectedPatient.Phone" name="Phone" class="form-control" id="PhoneNumber" placeholder="Enter Phone number" required pattern="[0-9 ]{10}">
                            <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)" class="validation-error">
                            <span *ngIf="Phone.errors?.required" class="validation-error">
                                Phone number is required.
                            </span>
                            <span  *ngIf="Phone.errors?.pattern" class="validation-error">
                                Phone number must be of 10 digits.
                            </span>
                          </div>  
                        </div>
                    

  

                        <div class="form-group">
                            <label for="Email">Email ID</label>
                            <input type="email" #Email="ngModel" [(ngModel)]="serviceService.selectedPatient.Email" name="Email" class="form-control" id="Email" placeholder="Enter Email ID" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="validation-error">
                            <span *ngIf="Email.errors?.required" class="validation-error">
                                Email is required.
                            </span>
                            <span  *ngIf="Email.errors?.pattern" class="validation-error">
                                Email is invalid.
                            </span>
                          </div>  
                        </div>

                        <div class="form-group">
                            <label for="dob">Date Of Birth</label>
                            <input type="date" #BirthDate="ngModel" [(ngModel)]="serviceService.selectedPatient.BirthDate" name="BirthDate" class="form-control" id="dob" placeholder="Enter Date Of Birth" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control no-resize" #Address="ngModel" [(ngModel)]="serviceService.selectedPatient.Address" name="Address" id="address" rows="3" required></textarea>
                            <div *ngIf="Address.invalid && (Address.dirty || Address.touched)" class="validation-error">
                                <span *ngIf="Address.errors?.required" class="validation-error">
                                    Address is required.
                                </span>
                            </div>  
                        </div>
    
                        <div class="form-group">
                        <input type="submit" [disabled]="signUpForm.invalid"  value="Register" class="btn btn-success submitbtn" />
                        </div>
                    </div>


          

                      

                    
                </form>
                </div>
        </div>
        </div>

        


    </div>
    <div class="success successMessage" *ngIf="showSuccessMessage">
        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Patent Registered Successfully!</p>
    </div>

    <div class="alert" *ngIf="serverErrorMessage">
        {{serverErrorMessage}}
    </div>   
</section>
<router-outlet></router-outlet>
