<app-doctornavbar></app-doctornavbar>
<!-- Breadcrumbs section -->
<!-- Breadcrumbs section -->
<section class="mar-t-50">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href='doctordetails' class="bctext"><i class="fa fa-address-book-o" aria-hidden="true"></i> Details of Doctor</a></li>
        </ol>
    </div>
</section>

<!-- Department Information -->
<section>
    <div class="row mb-50">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading panelhdr">
                    <h3 class="panel-title panelheadertext"><i class="fa fa-book" aria-hidden="true"></i> Doctors Information</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body table-responsive" table-hover>   
                    <table class="table">
                        <div class="col-md-3">
                        <tbody *ngFor="let item of doctors">
                        
                            <tr><th>Name</th><td>{{item?.Name}}</td></tr>
                            <tr><th>Phone</th><td>{{item?.Phone}}</td></tr>
                            <tr><th>Address</th><td>{{item?.Address}}</td></tr>
                            <tr><th>Email</th><td>{{item?.Email}}</td></tr>
                          
                        </tbody>
                    </div>
                        <div class="col-md-3">
                        <tbody *ngFor="let item of doctors">  
                        
                        <tr><th>Birth Date</th><td>{{item?.BirthDate | date:'dd/MM/yyyy'}}</td></tr>
                        <tr><th>Dept No</th><td>{{item?.DeptNo}}</td></tr>
                        <tr><th>Monthly Salary</th><td>{{item?.MonthlySalary}}</td></tr>
                        <tr><th>Work Experience</th><td>{{item?.Work_Experience}}</td></tr>
                         
                        </tbody>
                        </div>    
                       
                        <div class="col-md-3">
                            <tbody *ngFor="let item of doctors">  
                            
                            <tr><th>Repute Index</th><td>{{item?.ReputeIndex}}</td></tr>
                            <tr><th>Patients Treated</th><td>{{item?.Patients_Treated}}</td></tr>
                            <tr><th>Qualification</th><td>{{item?.Qualification}}</td></tr>
                            <tr><th>Specialization</th><td>{{item?.Specialization}}</td></tr>
                             
                            </tbody>
                            </div>    
                           
                       </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<router-outlet></router-outlet>
